body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #6b73ff, #000dff);
    margin: 0;
    padding: 0;
    color: white;
}

.container {
    max-width: 420px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
}

.subtitle {
    text-align: center;
    opacity: 0.9;
    font-size: 14px;
    margin-bottom: 25px;
}

.card {
    background: rgba(255, 255, 255, 0.15);
    padding: 25px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

label {
    font-size: 14px;
    margin-top: 10px;
    display: block;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #00ffcc;
    color: #000;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

button:hover {
    background: #00cfa3;
}

#result {
    margin-top: 25px;
    text-align: center;
    font-size: 22px;
    background: rgba(255,255,255,0.15);
    padding: 15px;
    border-radius: 10px;
}
